<%- include('parts/header') %>

<div class="container my-5">
  <div class="bg-light p-5 rounded shadow-sm">
    <h1 class="display-4 fw-bold text-center mb-4 title-blue">Welcome to <%= title %></h1>
    <p class="lead text-center mb-4">
      Every paw tells a story and here, each one begins with hope.  
      Whether you're looking to adopt a loyal dog or a playful cat, you're giving a second chance and gaining a lifelong friend.
    </p>
    <p class="text-center">
       Thank you for opening your heart and home. Let's make the world a kinder place one adoption at a time.
    </p>
  </div>
</div>

<%- include('parts/footer') %>
