.title-blue {
  color: hsl(188, 97%, 24%);
  text-shadow: 1px 1px 2px #000000;
  font-family: "Lucida Console", monospace;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.custom-table thead {
  background-color: hsl(188, 97%, 24%);
  color: white;
}

.custom-table tbody tr:hover {
  background-color: hsl(188, 60%, 90%);
}

.custom-navbar {
  background-color: lch(40.4% 25.17 219.98);
}

.custom-table,
.custom-table th,
.custom-table td {
  border: none;
}

.btn-custom {
  background-color: lch(40.4% 25.17 219.98);
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: rgb(2, 64, 74);
  color: white;
  border: none;
}
